In [ ]:
# terdapat list a dan b
a = [1, 2, 3]
b = [4, 5, 6]

# lalu jumlahkan
hasil = a + b

print(hasil) # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [ ]:
def add(list_a, list_b):
 result = []
 for first, second in zip(list_a, list_b):
  result.append(first + second)
 return result
print(a)
print(b)
print(add(a, b))

[1, 2, 3]
[4, 5, 6]
[5, 7, 9]

In [ ]:
def add(list_a, list_b):
 result = []
 for first, second in zip(list_a, list_b):
  result.append(first + second)
 x = 0
 for i in result:
  x += i
 return x
print(add(a, b))

21

In [ ]:
 print("Hello, World!")
 print("Nama saya Karen Sandra")
 print("NIM saya 2024071031")

Hello, World!
Nama saya Karen Sandra
NIM saya 2024071031

In [ ]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [ ]:
if 5 < 2:
    print("Five is greater than two!")

In [ ]:
 x = 5
 y = "John"
 print(x)
 print(y)

5
John

In [ ]:
x = 4
x = "Sally"
print(x)

Sally

In [ ]:
def getFirst(myList):
  return(myList[0])
getFirst([1, 2, 3])

1

In [ ]:
getFirst([1, 2, 3])

1

In [ ]:
getFirst([1, 2, 3, 4, 5, 6, 7, 8, 9])

1

In [ ]:
my_list = [1, 2, 3]
panjang_list = len(my_list)
print (panjang_list)
print(my_list[len(my_list)-1])

3
3

In [2]:
def getSecond(myList):
  return(myList[1])
getSecond([1, 2, 3])

2

In [5]:
def getKali(myList):
    hasil = 1
    for x in myList:
        hasil *= x
    return hasil

print(getKali([1, 2, 3]))

6

In [8]:
def getBagi(myList):
    hasil = 1
    for x in myList:
        hasil /= x
    return hasil

print(getBagi([1, 2, 3]))

0.16666666666666666

In [14]:
def getBagi(A, B):
  A = (1, 2, 3)
  B = (4, 5, 6)

  sum1 = sum(A)
  sum2 = sum(B)

  return sum1 + sum2

print(getBagi([1, 2, 3], [4, 5, 6]))

21

In [22]:
def getKurang(A, B):

  sum1 = sum(A)
  sum2 = sum(B)

  return sum1 - sum2

print(getKurang((1, 2, 3), (4, 5, 6)))

-9